


#menu-container{
    background-color: #004F6F;
    font-family: 'Roboto', sans-serif;   
           
}

#menu-container li a{
    color: white;
    font-size: 24px;
}
#menu-container li a:hover{
    color: whitesmoke;
}
.data-sticky .sticky .is-at-top .is-stuck{
    margin-top: 0;
}
.data-sticky {
  width: 100%;
  z-index: 100;
  
}
#submenu-container {
  border: 0;
}

#submenu-container li a {
  font-size: 14px;
  color: white;
  background-color: #004F6F;  
}
#scrollSoat{
    margin-right: 0;
    font-family: 'Oswald', sans-serif;
}
#row-scroll-soat{
    margin-right: 0;
    margin-left: 50%;
}
#button-sticky{
    background: #F4A859;  
    font-size: 3em;  
    font-weight: bolder;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 10px;
    padding-right: 0;
    padding-left: 10px;
    border: 0;
    height: 120px;

}
#scrollSoat-span-soat-enter{
    font-size: 0.4em;
}
#menu-button-sticky{
    top: 50%;
    background: #F4A859;
    width: 150px;
    border-radius: 5px 0 0 5px;
}

#mision-container img{

    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px; 
     
}
#mision{

    background-image: url('../assets/img/mision.jpg');
    border-radius: 10px;
    margin-bottom: 30px;    
    color: white;
    text-align: justify;
    height: 400px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    
}
#mision h2{
    font-weight: bolder;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
}
#space-mision{
    background: white;
    
}
#vision{

    background-image: url('../assets/img/vision.jpg');
    border-radius: 10px;
    margin-bottom: 30px;    
    color: white;
    text-align: justify;
    height: 400px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

#vision h2{
    font-weight: bolder;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
}

#buy{    
    background: #004F6F;
    border-radius: 10px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

#buy h3{
    color: white;
    font-size: 2.4em;
}
#buy-h3{
    margin-left: 15px;
    font-size: 1.3em;
}
#button-buy{
    background: #F4A859;
    color: white;
    border-radius: 10px;
    font-size: 24px;
}
#image-delivery{
     margin-left:50px;
}
#article-bien{
    text-align: justify;
}

#soat{
    color: #072F4A;
    background: #F4A859;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bolder;
}
#soat-h1{
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    color: #F4A859;
    font-size: 11em;
    
}
#buy-first h2{
    font-family: 'Oswald', sans-serif;
    font-size: 8em;
    color: white;
}
#seguro-cumplimiento{

    text-align: justify;
}
#car-insurance{
    color: #072F4A;
}
#car-insurance p{

    font-size: 18px;
    text-align: justify;
}
#title-insurance{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}
#title-insurance-bien{
    font-size: 10px;
}
#title-insurance-bien span{
    font-size: 2.8em;
    font-weight: bold;
}
#partners-top{
    background: #F4A859;
    font-size: 3em;
    color: white;
    border-radius: 10px 10px 0 0;    
    text-align: center;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif; 
    margin-top: 20px;
    padding-bottom: 20px;   
}
#partners-middle{
    background: #F4A859;
}
#partners-bottom{
    background: #F4A859;
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;  
    padding-bottom: 20px;
}

#footer{
    background: #004F6F;    
    color: white;    
    margin-top: 20px;
}
#follow-text{

    font-size: 3em;
    text-align: right;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
}
#contact span{
    text-align:center;
    font-size: 1.2em;
    padding-top: 10px;
}
#contact a{
    text-align:center;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    
}
#contact-email a{
    text-align:center;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    padding-bottom: 20px;
}
#footer-follow{
    margin-bottom: 20px;
    padding-top: 10px;
}
#asure-form{
    background: #F4A859;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
#asure-img{
    margin-top: 20px;
    border-radius: 10px;
}
#main-container-soat{
    color: #004F6F;
}
#main-container-soat label{
    color: #004F6F;
}
#cotiza-span{
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: larger;    
}
#offCanvas,
#offCanvas li a{
    background: #004F6F;
    color:white;
    font-family: 'Roboto', sans-serif;
}
#delivery-button button{
    background-color: #004F6F;
}